.view_item {
    font-family: sans-serif;
    text-align: center;
}

.view_item > a {
    text-decoration: underline;
}

.view_item > a:hover {
    text-decoration: none;
}

.home{
border-radius: 8px;
padding: 15px;
background-color: #2e7fab;
}

.view_item > h1 {
    color: #2e7fab;
}

.view_item > .content {
    display: flex;
    justify-content: space-around;
}

.attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 8px;
    justify-content: center;
}

.attribute {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    background: #fafafa;
}